Mod11/Democode/01_IdentityExample_begin/IdentityExample/obj/
Mod11/Democode/01_IdentityExample_begin/IdentityExample/node_modules/
Mod11/Democode/01_IdentityExample_begin/IdentityExample/bin/
Mod11/Democode/02_AuthorizeExample_begin/IdentityExample/obj/
Mod11/Democode/02_AuthorizeExample_begin/IdentityExample/node_modules/
Mod11/Democode/02_AuthorizeExample_begin/IdentityExample/bin/
Mod11/Labfiles/Library/obj/
Mod11/Labfiles/Library/node_modules/
Mod11/Labfiles/Library/bin/
Mod11/Labfiles/CrossSiteRequestForgeryAttack/obj/
Mod11/Labfiles/CrossSiteRequestForgeryAttack/bin/

Mod12/Demos/01_CachingExample_begin/CachingExample/obj/
Mod12/Demos/01_CachingExample_begin/CachingExample/bin/
Mod12/Demos/02_StateExample_begin/StateExample/obj/
Mod12/Demos/02_StateExample_begin/StateExample/bin/
Mod10/Demos/01_UnitTestingExample_begin/ProductsWebsite/obj/
Mod10/Demos/01_UnitTestingExample_begin/ProductsWebsite/bin/
Mod10/Demos/02_ErrorHandlingExample_begin/ErrorHandlingExample/bin/
Mod10/Demos/02_ErrorHandlingExample_begin/ErrorHandlingExample/obj/
Mod10/Demos/03_LoggingExample_begin/LoggingExample/bin/
Mod10/Demos/03_LoggingExample_begin/LoggingExample/obj/
Mod09/Labs/IceCreamCompany/node_modules/
Mod01/Lab01/CakeStoreApi/obj/
Mod01/Lab01/CakeStoreApi/bin/
Mod01/Democode/01_PhotoSharingSample/PhotoSharingSample/obj/
Mod01/Democode/01_PhotoSharingSample/PhotoSharingSample/bin/
Mod01/Lab01/ActorsRazorPages/obj/
Mod01/Lab01/ActorsRazorPages/bin/
Mod01/Lab01/AnimalsMvc/obj/
Mod01/Lab01/AnimalsMvc/bin/
Mod02/DesginProject/obj/
Mod02/DesginProject/bin/
Mod02/DesginProject/obj/
Mod03/Demo03/03_ConfigureServiceExample/obj/
Mod03/Demo03/1_ConfigureMiddlewareExample/obj/
Mod03/Demo03/StaticFilesExample/obj/

Mod09/Labs/IceCreamCompany/bin/
Mod09/Labs/IceCreamCompany/obj/
